.header {
  background-color: var(--color-three);
  padding: var(--md) var(--lg);
}

.container {
  display: flex;
  gap: var(--md);
  align-items: center;

  .sorting {
    display: flex;
    gap: var(--sm);
  }

  .search {
    min-width: 180px;
    max-width: 300px;
    flex: 1 1 auto;
  }

  .filtering {
    display: flex;
    gap: var(--sm);
    margin-left: auto;
  }
}
