.button {
  font: inherit;
  font-size: 12px;
  color: white;
  padding: var(--sm) var(--md);
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: var(--color-two);
  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.1);
  }
}
