.header {
  background-color: var(--color-three);
  padding: var(--md) var(--lg);
}

.container {
  display: flex;
  gap: var(--md);
  align-items: center;

  .search {
  }

  .sorting {
    display: flex;
    gap: var(--sm);
  }

  .filtration {
  }
}
